<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%=link_to "Log out", destroy_user_session_path, method: :delete %>
      <%= link_to "Create post", new_post_path %>
    </div>
    <div class="row show-posts">
      <% @posts.each do |post|%>
        <div class="col-md-4">
          <b><%= post.user.username %></b> posted:<br/>
          <%=image_tag post.image_url, width: '300' %>
          <%= post.description %><br/>
        </div>
      <% end %>
    </div>
  </div>
</div>