<%= form_with(model: @post, local: true) do |form| %>
  <%= render "shared/errors", object: @post %>
  <div class="field">
    <%= form.label :description, 'Content' %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.hidden_field :image, value: @post.cached_image_data %>
    <%= form.file_field :image %>
  </div>

  <% if @post.image_data? %>
    <%= image_tag @post.image_url(:thumb) %>
    Remove attachment: <%= f.check_box :remove_image %>
  <% end %>

  <%= form.text_field :user_id, value: current_user.id, class:'d-none' %>
  <div><br>
    <%= form.submit 'Create Post', class: 'btn btn-primary' %>
  </div>

<%end %>