<%= form_with(model post, local: true) do |form| %>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.hidden_field :image, value: @post.cached_image_data %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <% form.submit %>
  </div>

<%end %>